<div class="row">
  <div class="col-4">
    <div class="row">
      <img class="profImg" src="{{fan.pic_url}}">
    </div>

    <div class="row">
      <p>Location: {{fan.locale}}</p>
    </div>
  </div>

  <div class="col-4">
    <div class="row">
      {{fan.name}}
    </div>

    <div class="row border border-black">
      {{fan.email}}
    </div> 
  </div>

  <div class="col-4">
    <div class="row">
      