<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BANDED</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
<!--     <link rel="shortcut icon" href="/assets/images/horns_favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/horns_favicon.ico" type="image/x-icon"> -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

	</head>
	<body>
    <div class="container">
      <div class="row">
   			<div class="mx-auto">
                <img src="../../public/assets/images/logo.png" id="logo" alt="logo"> 
            </div>
      </div>
		{{{ body }}}
    </div>
	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/logic.js"></script>
	<footer>
      <div class="container text-center">
        <p>Copyright &copy; Adam Kahane, Mark Mikelonis, Tung Tung Ouyang, Dongxian Li 2018</p>
      </div>
    </footer>
	</body>
</html>