<form>
  <div class="form-group">
    <label for="name"><h5><strong>Username: </strong></h5></label>
    <input type="text" class="form-control" id="name" placeholder="username">
  </div>
  <div class="form-group">
    <label for="name"><h5><strong>Location: </strong></h5></label>
    <input type="text" class="form-control" id="locale" placeholder="Oakland, CA">
  </div>
  <div class="form-group" id="bandForm">
    <label for="name"><h5><strong>Genre: </strong></h5></label>
    <input type="text" class="form-control" id="name" placeholder="username">
  </div>
  <div class="form-group" id="bandForm">
    <label for="name"><h5><strong>Twitter: </strong></h5></label>
    <input type="url" class="form-control" id="twitter" placeholder="https://twitter.com/twitter_account">
  </div>
  <div class="form-group" id="bandForm">
    <label for="name"><h5><strong>Facebook: </strong></h5></label>
    <input type="url" class="form-control" id="facebook" placeholder="https://facebook.com/facebook_account">
  </div>
  <div class="form-group" id="bandForm">
    <label for="name"><h5><strong>Instagram: </strong></h5></label>
    <input type="url" class="form-control" id="instagram" placeholder="https://www.instagram.com/insta_account">
  </div>
  <div class="form-group" id="bandForm">
    <label for="name"><h5><strong>Bandcamp: </strong></h5></label>
    <input type="url" class="form-control" id="bandcamp" placeholder="https://my_band_name.bandcamp.com/">
  </div>
  <div class="form-group" id="bandForm">
    <label for="bio"><h5><strong>Bio: </strong></h5></label>
    <textarea class="form-control" id="bio" rows="3"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-outline-light btn-lg" id="bandSubmit">Submit Profile</button>
</form>