
<div class="row">
  <div class="mx-auto">
  <h1>Are you a Band or a Fan?</h1>
  </div>
</div>

<div class="row">
  <div class="col-6">
  	<div class="mx-auto">
  		<button type="submit" class="btn btn-outline-dark btn-lg" id="bandBtn">Band</button>
  	</div>
  </div>
  <div class="col-6">
  	<div class="mx-auto">
    	<button type="submit" class="btn btn-outline-dark btn-lg pull-right" id="fanBtn">Fan</button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>