<form
  ref='uploadForm' 
  id='uploadForm' 
  action='assets/images/users'
  method='post' 
  encType="multipart/form-data">
  
  <div class="form-group">
    <label for="bandorfan">Are you a Band or Fan?</label>
    <select class="form-control" id="bandOrFan">
      <option value="fan">Fan</option>
      <option value="band">Band</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" id="profSubmit">Submit Profile</button>
</form>