
<div class="row">
  <div class=""></div>
  <h1>Are you a Band or a Fan?</h1>
</div>

<div class="row">
  <div class="col-3">
    <button type="submit" class="btn btn-primary" id="bandBtn">Band</button>
  </div>
  <div class="col-3">
    <button type="submit" class="btn btn-primary" id="fanBtn">Fan</button>
  </div>
</div>