<form>
  <div class="form-group">
    <label for="name"><h5><strong>Username: </strong></h5></label>
    <input type="text" class="form-control" id="name" placeholder="username">
  </div>
  <div class="form-group">
<<<<<<< HEAD
    <label for="name">Zip Code: </label>
    <input type="text" class="form-control" id="locale" placeholder="95607">
=======
    <label for="name"><h5><strong>Location: </strong></h5></label>
    <input type="text" class="form-control" id="locale" placeholder="Oakland, CA">
>>>>>>> eb096e2d5eb495e37fb7789a6b6d498d40dcd2ec
  </div>
  <br>
  <br>
  <br>
  <br>
  <button type="submit" class="btn btn-outline-dark btn-lg" id="fanSubmit">Submit Profile</button>
</form>
<br>