<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- Google sign in button -->
        <div class="g-signin2" data-onsuccess="onSignIn"></div>

        <script src="https://apis.google.com/js/api.js"></script>
<!--         must include the Google Platform Library on your web pages that integrate Google Sign-In. -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="823260742909-vlev75slnqh68p4j5gka78duj5u4gie6.apps.googleusercontent.com">

       <!--  <script>
          function start() {
            // Initializes the client with the API key and the Translate API.
            gapi.client.init({
              'apiKey': 'AIzaSyAC1wTUBSAAKhd2TdMwN0HEQ-Ni7T9fSy4',
              'discoveryDocs': ['https://www.googleapis.com/discovery/v1/apis/translate/v2/rest'],
            }).then(function() {
              // Executes an API request, and returns a Promise.
              // The method name `language.translations.list` comes from the API discovery.
              return gapi.client.language.translations.list({
                q: 'hello world',
                source: 'en',
                target: 'de',
              });
            }).then(function(response) {
              console.log(response.result.data.translations[0].translatedText);
            }, function(reason) {
              console.log('Error: ' + reason.result.error.message);
            });
          };
    
          // Loads the JavaScript client library and invokes `start` afterwards.
          gapi.load('client', start);
        </script> -->
      </head>
      <body>
        <a href="/auth/google">Sign In with Google</a>


              <script src="config.js"></script>


        <div id="results"></div>
      </body>
</html>