  <div class="row">
    <a href="/auth/google" id="loginBtn" class="btn btn-outline-dark btn-lg mx-auto"><span class="glyphicon glyphicon-plus"></span> Login With Google </a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
