#logo {
	margin-top:30px;
	margin-bottom:30px;
}

 body {
 	background-color: black;
 	color:rgb(240, 240, 247);
 	height: 100%;
 	margin: 0;
 	background-repeat: no-repeat;
 }

footer {
	text-align: center;
	color:white;

	position: relative;
	padding: 1rem;
	right: 0;
	bottom: 0;
	left: 0;
}

.container {
	text-align: center;
	min-height: 100%;
}

form {
	background-color: rgba(0,0,0,0);
	opacity: 0.5;

}

label {
	
	color: rgba(255,255,255,1);
	font-size: 36;
	font-weight: bold;

}



}


.profImg {
	width: 300px;
	height: 225px;
}


h1 {
	margin-bottom: 50px;
	color: gray;
}




